@namespace RootNamespace.Modules.ModuleName
@inherits ModuleBase
@inject IModuleNameService ModuleNameService
@inject NavigationManager NavigationManager

@if (_item == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Name:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.Name" readonly />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Id:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.ModuleNameId" readonly />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Created By:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.CreatedBy" readonly />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Created On:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.CreatedOn.ToString("g")" readonly />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Modified By:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.ModifiedBy" readonly />
            </div>
        </div>
        <div class="row mb-1">
            <label class="col-sm-3 col-form-label">Modified On:</label>
            <div class="col-sm-9">
                <input class="form-control" value="@_item.ModifiedOn.ToString("g")" readonly />
            </div>
        </div>
    </div>

    <NavLink class="btn btn-secondary" href="@NavigateUrl()">Back</NavLink>
    <ActionLink Action="Edit" Parameters="@($"id={_item.ModuleNameId}")" Text="Edit" Class="btn btn-primary" />
}

@code {
    private RootNamespace.Models.ModuleName _item;

    [Parameter]
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _item = await ModuleNameService.GetModuleNameAsync(Id);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error loading ModuleName {ModuleNameId}", Id);
            AddModuleMessage("Error loading item. Please try again.", MessageType.Error);
        }
    }
}
