@using RootNamespace.Services
@using RootNamespace.Models

@namespace RootNamespace.Modules.ModuleName
@inherits ModuleBase
@inject IModuleNameService ModuleNameService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_moduleNames == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add ModuleName" ResourceKey="Add" />
    <br /><br />
    @if (_moduleNames.Count != 0)
    {
        <Pager Items="@_moduleNames">
            <Header>
                <th style="width: 1px;">&nbsp;</th>
                <th style="width: 1px;">&nbsp;</th>
                <th>@Localizer["Name"]</th>
            </Header>
            <Row>
                <td><ActionLink Action="Edit" Parameters="@($"id={context.ModuleNameId}")" ResourceKey="Edit" /></td>
                <td><ActionDialog Header="Delete ModuleName" Message="Are You Sure You Wish To Delete This ModuleName?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete" Id="@context.ModuleNameId.ToString()" /></td>
                <td>@context.Name</td>
            </Row>
        </Pager>
    }
    else
    {
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}

@code {
    public override string RenderMode => RenderModes.Static;

    public override List<Resource> Resources => new List<Resource>
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = "_content/ModuleName/Module.css" },
        new Resource { ResourceType = ResourceType.Script, Url = "_content/ModuleName/Module.js" }
    };

    private List<ModuleName> _moduleNames;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _moduleNames = await ModuleNameService.GetModuleNamesAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading ModuleName {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Delete(ModuleName moduleName)
    {
        try
        {
            await ModuleNameService.DeleteModuleNameAsync(moduleName.ModuleNameId, ModuleState.ModuleId);
            await logger.LogInformation("ModuleName Deleted {ModuleName}", moduleName);
            _moduleNames = await ModuleNameService.GetModuleNamesAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting ModuleName {ModuleName} {Error}", moduleName, ex.Message);
            AddModuleMessage(Localizer["Message.DeleteError"], MessageType.Error);
        }
    }
}
